<div class="container center">
  <span class="white-text">1. Choose category</span>
  <br>
  <a class="grey-text text-darken-1" routerLink="/" [routerLinkActive]="['whitetext']" [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons navicons small">home</i></a>
  <a class="grey-text text-darken-1" routerLink="/image" [routerLinkActive]="['whitetext']"><i class="material-icons navicons small">camera_alt</i></a>
  <a class="grey-text text-darken-1" routerLink="/video" [routerLinkActive]="['whitetext']"><i class="material-icons navicons small">videocam</i></a>
  <a class="grey-text text-darken-1" [routerLinkActive]="['whitetext']"><i class="material-icons navicons small">shopping_basket</i></a>
  <a class="grey-text text-darken-1" [routerLinkActive]="['whitetext']"><i class="material-icons navicons small">book</i></a>
  <a class="grey-text text-darken-1" [routerLinkActive]="['whitetext']"><i class="material-icons navicons small">radio</i></a>
  <a class="grey-text text-darken-1" [routerLinkActive]="['whitetext']"><i class="material-icons navicons small">lock</i></a>
</div>