<div class="container center">
    <br>
    <br>
    <br>
    <span class="white-text">2. Type 123-Search request</span>
    <div class="row">
      <div class="col s2"></div>
      <div class="input-field center col s8">
        <i class="material-icons prefix white-text">search</i>
        <input autofocus type="text" [value]="value" #searchbar class="validate white-text searchbar" (keyup)="setSessionStorage(searchbar.value)" (keyup.enter)="handleSearch($event, 'https://www.google.nl/search?q=')">
        <label for="searchbar">Type request...</label>
      </div>
      <div class="col s2"></div>
    </div>
    <br>
    <br>
    <br>
    <span class="white-text">3. Choose search engine</span>
    <div>
      <div *ngFor="let image of images; let i = index" class="image" (click)="handleSearch($event, searchurls[i])">
        <img *ngIf="i !== 3" height="45" [src]="image.url" [alt]="image.alt" (mouseenter)="colorHover($event)">
        <img *ngIf="i === 3" height="65" [src]="image.url" [alt]="image.alt" (mouseenter)="colorHover($event)">
      </div>
    </div>
  </div>